@import url('https://fonts.googleapis.com/css?family=Ramabhadra&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
    font-family: 'Ramabhadra', sans-serif;

}
.title-div {
    background-color: cadetblue;
}

.title-div > h1 {
    text-align: center;
    text-decoration: underline;
}

.player-selection {
    margin: 100px auto;
    border: 2px solid black;
    width: 60%;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
}

.radio-buttons {
    font-weight: bold;
    font-size: 8vh
    
}

.option-buttons {
    display: inline-flex;
    align-items: center;
}

