@import url('https://fonts.googleapis.com/css?family=Ramabhadra&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
    font-family: 'Ramabhadra', sans-serif;

}
.title-div {
    background-color: cadetblue;
    margin-bottom: 100px;
}

.title-div > h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 10vh;
}


.radio-buttons {
    width: 60%;
    font-weight: bold;
    font-size: 8vh;
    border: 2px solid black;
    border-radius: 15px;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
}

.option-buttons {
    display: inline-flex;
    align-items: center;
}

.select-text {
    background-color: white;
    text-align: center;
    font-size: 5vh;;
}

.submit-button {
    text-align: center;
}

